<html>
<head>
  <title> </title>
</head>
<body>
  <p>
    <b>Nombre: </b>
  </p>
  <p>
    <b>Autor del libro: </b>
  </p>
  <p>
    <b>Descripcion: </b>
  </p>
  <p>
    <b>Reseña hecha por: </b>
  </p>
</body>
</html>
